* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 468px;
  width: 100%;
  text-align: center;
  margin: 4rem auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 1rem;
}


#title {
  font-weight: 500;
  margin: 1rem;
}

hr {
  border-color: #1c1c1c;
}

#city_name_input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

#submit-input {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #324E8A;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}

#submit-input:hover {
  transform: scale(1.1);
  opacity: 1.0;
}